<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="/js/blessings-script.js"></script>
     <link rel="stylesheet" href="/css/blessings.css" />
    <link rel="stylesheet" href="/css/design-library.css" />
  <title>Button Groups</title>

</head>
<body>

<div id="character-buttons">
<button class="character-button" data-character="0">
  <img src="images/team/Rogue.webp" alt="Rogue">
</button>
<button class="character-button" data-character="1">
  <img src="images/team/Death_knight.webp" alt="Rogue">
</button>
<button class="character-button" data-character="2">
  <img src="images/team/Druid.webp"¨alt="Rogue">
</button>
<button class="character-button" data-character="3">
  <img src="images/team/Priest.webp" alt="Rogue">
</button>
<button class="character-button" data-character="4">
  <img src="images/team/Warlock.webp" alt="Rogue">
</button>


</div>

<div id="talent-counter">
  Talent Points: <span id="points-left">9</span>
</div>

<div id="talent-trees-container">
  <!-- Trees will be dynamically shown/hidden here -->
</div>

<button id="reset-button">Reset Talent Tree</button>





</body>
</html>
