<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/mission-script.js"></script>
  <title>Dashboard</title>

</head>
<body>
  <div id="dashboard-container">
    <div id="missions">MISSIONS</div>
    <div id="dashboard">
      <div id="world-pagination">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
      </div>
     
      <button id="mission-one">Mission One</button>
      <button id="mission-two">Mission Two</button>
      <button id="mission-three">Mission Three</button>
      <button id="mission-four">Mission Four</button>
      <button id="mission-five">Mission Five</button>
      <button id="mission-six">Mission Six</button>
      <button id="Map-one-boss">Final Boss</button>
    </div>
    <div id="menu">MENU</div>
  </div>
  <script src="/js/dashboard-script.js"></script>
</body>
</html>


