<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/mission-script.js"></script>
  <title>Dashboard</title>

</head>
<body>
  <div id="dashboard-container">
    <div id="missions">MISSIONS</div>
    <div id="dashboard">
      <div id="world-pagination">
        <button id="pagination-1">1</button>
        <button id="pagination-2">2</button>
        <button id="pagination-3">3</button>
        <button id="pagination-4">4</button>
      </div>
     
<!-- Map One -->
 <div id="map-one">
<button id="mission-one">Mission One</button>
<button id="mission-two">Mission Two</button>
<button id="mission-three">Mission Three</button>
<button id="mission-four">Mission Four</button>
<button id="mission-five">Mission Five</button>
<button id="mission-six">Mission Six</button>
<button id="Map-one-boss">Final Boss</button>
</div>

<!-- Map Two -->
 <div id="map-two">
<button id="mission-seven">Mission Seven</button>
<button id="mission-eight">Mission Eight</button>
<button id="mission-nine">Mission Nine</button>
<button id="mission-ten">Mission Ten</button>
<button id="mission-eleven">Mission Eleven</button>
<button id="mission-twelve">Mission Twelve</button>
<button id="Map-two-boss">Map Two Boss</button>
</div>

<!-- Map Three -->
 <div id="map-three">
<button id="mission-thirteen">Mission Thirteen</button>
<button id="mission-fourteen">Mission Fourteen</button>
<button id="mission-fifteen">Mission Fifteen</button>
<button id="mission-sixteen">Mission Sixteen</button>
<button id="mission-seventeen">Mission Seventeen</button>
<button id="mission-eighteen">Mission Eighteen</button>
<button id="Map-three-boss">Map Three Boss</button>
</div>

<!-- Map Four -->
 <div id="map-four">
<button id="mission-nineteen">Mission Nineteen</button>
<button id="mission-twenty">Mission Twenty</button>
<button id="mission-twenty-one">Mission Twenty-One</button>
<button id="mission-twenty-two">Mission Twenty-Two</button>
<button id="mission-twenty-three">Mission Twenty-Three</button>
<button id="mission-twenty-four">Mission Twenty-Four</button>
<button id="Map-four-boss">Map Four Boss</button>
</div>

    </div>
    <div id="menu">MENU</div>
  </div>
  <script src="/js/dashboard-script.js"></script>
</body>
</html>


