<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/mines.css" />
  <script src="/js/mines.js"></script>
  <title>Mines</title>

<div class="button-container">
  <button class="custom-button">F1F</button>
  <button class="custom-button">F2F</button>
  <button class="custom-button">F3F</button>
  <button class="custom-button">F4F</button>
</div>
