.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 3px solid #3f250b;
    border-radius: 4px;
    background-color: #202020;
    color: aliceblue;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 9999;
}

/* .alert .alert-success{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #3f250b;
    border-radius: 4px;
    background-color: #202020;
    color: aliceblue;
} */

.alert-success {
    background-color: #202020;
    border-color: #3c763d;
}

.alert-danger {
    background-color: #202020;
    border-color: #a94442;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
}

.alert-info {
    border-color: #dac02e;
}