.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #111613;
    font-size: 12px;
    line-height: 1.2;
    left: 0px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    background-color: #282c34;
    color: aliceblue;
    height: 40px;
    border-top: solid 3px #272727;
}

body {
    margin-bottom: 60px;
}

