.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    left: 0px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    background-color: #282c34;
    color: aliceblue;
    height: 32px;
    border-top: 2px solid rgb(12, 12, 12);
}

body {
    margin-bottom: 60px;
}


