<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">

    <%- defineContent('style') %>
        <title>
            The Idle Game
        </title>
    
</head>

<body>
    <div class="game-menu">
        <%- include('partials/header.ejs') %>
            <div class="page-title">The Idle Game</div>
    </div>

    <%- body %>
        <%- include('partials/footer') %>

</body>

</html>