<head>
  <meta charset="utf-8" />
  <base href="/">
  <link rel="stylesheet" href="./css/footer.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<footer class="footer">
  <div class="container">
    <p id="footer-message" class="text-muted"></p>
  </div>
</footer>

<script src="/js/footer-script.js"></script>
