<head>
    <meta charset="utf-8" />
    <base href="/">
    <link rel="stylesheet" href="./css/header.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

<style>
    header {
        width: 100%;
    }
</style>

<header class="header">
    <nav>
        <ul class="menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/game">Game</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/adventure">Adventure</a></li>
            <li><a href="/boss">Boss</a></li>
            <li><a href="/upgrade">Upgrade</a></li>
        </ul>
    </nav>
</header>
