<head>
    <meta charset="utf-8" />
    <base href="/">
    <link rel="stylesheet" href="./css/header.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

<header class="header">
    <nav>
        <ul class="menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/home">Game</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/upgrade">Upgrade</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/crafting">Crafting</a></li>
            <li><a href="/mines">Mines</a></li>
            <li><a href="/blessings">Blessings</a></li>
            <li><a href="/transcendence">Transcendence</a></li>
        </ul>
    </nav>
</header>
