<style>
    header {

        width: 100%;
    }
</style>

<header>
    <nav>
        <ul class="menu">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/game">Game</a>
            <a href="/shop">Shop</a>
            <a href="/statistics">Statistics</a>
            <a href="/adventure">Adventure</a>
            <a href="/boss">Boss</a>
            <a href="/upgrade">Upgrade</a>
        </ul>
    </nav>
</header>