<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/design-library.css">

  <link rel="stylesheet" href="/css/transcendence.css">
  <title>Transcendence-layout</title>

</head>
<body>
  <%- include('../partials/header') %>

  <div class="transcendence-wrapper">
    <%- include('../partials/flash') %>
    <section class="transcendence-content">
      <%- body %>
    </section>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
